################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project Storm App/.vs/Project Storm App/FileContentIndex
/Project Storm App/.vs/Project Storm App/v17
