################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project Storm App/.vs/Project Storm App/FileContentIndex
/Project Storm App/.vs/Project Storm App/v17
/Project Storm App/x64/Debug
/Project Storm App/Project Storm App/x64/Debug
/Project Storm App/.vs/Project Storm App/CopilotIndices/17.13.441.19478
